.hero {
  padding: 0;
  /* margin: 0 auto; */
  /* margin-top: 7.5rem; */
  /* width: 96%; */
  /* min-height: 80vh; */
}

.hero-slider {
  border-radius: 0;
}

.swiper-slide span {
  font-weight: bolder;
  color: var(--color-white);
  font-size: 2vw;
  display: block;
}

.swiper-slide h3 {
  font-size: 4vw;
  color: var(--color-white);
}

.swiper-slide p {
  max-width: 60rem;
  margin: 1rem auto;
  font-size: 1.4rem;
  color: var(--color-white);
}

@media (max-width: 768px) {
  .swiper-slide span {
    font-size: 6vw;
  }
  .swiper-slide h3 {
    font-size: 7vw;
  }
}
